/* for desktops */
.home-page {
  border: 1px solid white;
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/white-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* animation: changeBg 3s linear forwards; */
}

@keyframes changeBg {
  0% {
    background-image: url("../img/white-bg.png");
  }

  100% {
    background-image: url("../img/black-bg.png");
  }
}

/* MAIN */
.main {
  margin: 170px 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__text {
  backdrop-filter: blur(5px);
}

.main__text h2 {
  font-size: 96px;
  font-weight: 700;
}

.main__text span {
  font-size: 24px;
  font-weight: 500;
}

.main__form {
  width: 385px;
  border: 1px solid black;
  border-radius: 40px;
  padding: 46px 56px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  backdrop-filter: blur(5px);
}

.main__form h2 {
  font-size: 36px;
  font-weight: 500;
}

.main__form input {
  padding: 10px 0;
  text-align: center;
  border-radius: 30px;
  border: 1px solid black;
}

.main__form button {
  padding: 10px 0;
  text-align: center;
  border-radius: 30px;
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
}

.main__form button:hover {
  background-color: black;
  color: white;
  transition-duration: 500ms;
}

.main__form p {
  color: red;
  font-size: 12px;
}

.main__form span {
  font-size: 13px;
  font-weight: 500;
}

.main__form a {
  color: black;
}

/* RESPONSIVE STYLES */
/* for tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .home-page {
    /* border: 5px solid purple; */
    width: 100%;
  }

  .main {
    /* border: 3px solid red; */
    margin: 50px 0;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }

  .main__text {
    /* border: 3px solid green; */
    width: 100%;
    text-align: center;
  }

  .main__text h2 {
    font-size: 64px;
    font-weight: 600;
  }

  .main__text span {
    font-size: 16px;
    font-weight: 400;
  }

  .main__form {
    border: 1px solid black;
    width: calc(100% - 200px);
    margin: 0 100px;
    padding: 26px 36px;
    gap: 20px;
  }

  .main__form h2 {
    font-size: 26px;
  }

  .main__form input {
    width: 500px;
    margin: 0 auto;
  }

  .main__form button {
    padding: 10px 0;
    text-align: center;
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    width: 300px;
    margin: 0 auto;
  }
}

/* for mobile phones */
@media screen and (max-width: 767px) {
  .home-page {
    width: 100%;
  }

  .main {
    margin: 50px 0;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }

  .main__text {
    width: 100%;
    text-align: center;
  }

  .main__text h2 {
    font-size: 40px;
    font-weight: 500;
  }

  .main__text span {
    font-size: 12px;
    font-weight: 300;
  }

  .main__form {
    border: 1px solid black;
    width: calc(100% - 40px);
    margin: 0 20px;
    padding: 16px 26px;
    gap: 20px;
  }

  .main__form h2 {
    font-size: 26px;
  }

  .main__form input {
    width: calc(100% - 52px);
    margin: 0 auto;
  }

  .main__form button {
    padding: 10px 0;
    text-align: center;
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    width: calc(100% - 52px);
    margin: 0 auto;
  }
}
